@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clip-hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
  .clip-top-hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 35%, 50% 10%, 0 35%, 0 25%);
  }
  .clip-link-navbar {
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  }
  .underline-link-hover {
    @apply absolute bg-gradient-to-r from-amber-500 to-red-400 opacity-0 group-hover:opacity-100 w-full left-0 h-1 clip-link-navbar bottom-[2px] duration-150
  }
  .active-menu {
    @apply absolute w-full max-w-[356.667px] md:hidden bg-primary rounded-sm shadow-md top-24 right-0 z-50
  }
  .close-open-menu {
    @apply absolute h-5 w-5 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  }

  .main-title {
    @apply inline bg-gradient-to-b from-green-600 to-amber-100 bg-clip-text text-transparent
  }

  .gradient-titles {
    @apply inline bg-gradient-to-b from-slate-800 to-slate-500 bg-clip-text text-transparent
  }

  .center-all {
    @apply w-10/12 max-w-screen-2xl mx-auto
  }

  .clip-footer-overline {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
}

/* Swipe arrows colors */
.swiper-button-next,
.swiper-button-prev {
  color: #ef4444 !important;
  z-index: 51 !important;
}

/* Bullet colors */

.swiper-pagination {
  text-align: right !important;
  padding-right: 1rem;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important; /* slate-300 */
  opacity: 0.75 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ef4444 !important; /* blue-500 */
  opacity: 1 !important;
}